@import "@/shared/scss/styles.scss";

.direct {
	flex: 1;
	@include flex(row, flex-end);
	column-gap: 30px;

	img {
		width: 16px;
		height: 16px;
	}

	&__user {
		position: relative;
	}

	&__search {
		@include flex(row, flex-end, center);
		border-color: transparent;
		column-gap: 10px;
		height: 25px;
		flex: 0.95;

		&-input {
			flex: 1;
			max-width: 0;
			transition: 0.5s;
			.label {
				height: 0;
				border: 1px solid transparent;
				padding-right: 6px;
				#search {
					border-color: transparent;
					background-color: transparent;
					padding: 8px 12px;
				}
			}
		}

		.active {
			max-width: 100%;
			.label {
				height: 25px;
				border-color: grey;
			}
		}
	}
}
