@import "@/shared/scss/styles.scss";

.access {
	width: 200px;
	display: flex;
	flex-direction: column;
	position: absolute;
    top: 100%;
    right: -100px;
    background-color: rgba(223, 205, 205, 0.5);
    padding: 4px;
    border-radius: 8px;

	> div {
		height: 25px;
        @include flex-center;
        padding: 8px 12px;

        &:hover{
            text-decoration: underline;
            text-underline-offset: 5px;
            text-decoration-color: $primary-color;
        }
	}
}
