$primary-color: #f22735;

$primary-dark-color: #000;

$secondary-dark-color: #504E4A;

$third-dark-color: #727174;

$fourth-dark-color: #707070;


$primary-light-color: #fff;

$section-home-bg: #E7E8E9;

