@import "@/shared/scss/styles.scss";

.header {
	width: 100%;
	padding: 50px 200px 30px 200px;

	.header__content {
		max-width: 1300px;
		margin: 0 auto;
		
		.header__top-row {
			@include flex(row, space-between, flex-start);
			padding-bottom: 50px;
			border-bottom: 1px solid #727174;
		}

		.navigate-menu{
			padding: 30px 0;
			@include flex-center;
		}
	}
}
