.header{
    width: 100%;

    .container{
        width: 1320px;
        margin: 0 auto;
        background-color: #000;

        .content{

            .title{
                padding: 20px;
                margin-left: 50px;
                color: #fff;
            }
        }
    }
}